*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app {
  min-height: 100vh;
  width: 960px;
  background-color: #f3f7fa;
}

h1 {
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: 100px;
  padding-bottom: 30px;
  margin-top: -17%;
  list-style-type: none;
  padding: 0;
}
